<div class="card">
    <div class="card-header">
        {{tituloPagina}}
    </div>

    <div class="card-body">
        <form novalidate (ngSubmit)="salvarEstudante()" [formGroup]="formEstudantes">
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" 
                    for="idNome">Nome Estudante</label>
                <div class="col-md-8">
                    <input class="form-control" 
                        id="idNome" type="text" 
                        placeholder="Nome (obrigatório)"
                        formControlName="nome" 
                        [ngClass]="{'is-invalid': displayMessage.nome}" />
                    <span class="invalid-feedback">
                        {{displayMessage.nome}}
                    </span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                       for="idCodigoAluno">Código Aluno</label>
                <div class="col-md-8">
                  <input class="form-control"
                         id="idCodigoAluno"
                         type="text"
                         placeholder="Código (obrigatório)"
                         formControlName="codigoAluno"
                         [ngClass]="{'is-invalid': displayMessage.codigoAluno}" />
                  <span class="invalid-feedback">
                    {{displayMessage.codigoAluno}}
                  </span>
                </div>
            </div>
            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label"
                     for="idCorCabelo">Cor Cabelo</label>
              <div class="col-md-8">
                <input class="form-control"
                       id="idcorCabelo"
                       type="text"
                       placeholder="Cor Cabelo"
                       formControlName="corCabelo"
                       [ngClass]="{'is-invalid': displayMessage.codigoAluno}" />
                <span class="invalid-feedback">
                  {{displayMessage.corCabelo}}
                </span>
              </div>
          </div>

          <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label"
                   for="idAnoNascimento">Ano de Nascimento</label>
            <div class="col-md-8">
              <input class="form-control"
                     id="idAnoNascimento"
                     type="text"
                     placeholder="Ano de Nascimento (Obrigatório)"
                     formControlName="Ano de Nascimento"
                     [ngClass]="{'is-invalid': displayMessage.anoNascimento}" />
              <span class="invalid-feedback">
                {{displayMessage.anoNascimento}}
              </span>
            </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="idAltura">Altura</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="idAltura"
                   type="text"
                   placeholder="Altura"
                   formControlName="Altura"
                   [ngClass]="{'is-invalid': displayMessage.Altura}" />
            <span class="invalid-feedback">
              {{displayMessage.Altura}}
            </span>
          </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="idPeso">Peso</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="idPeso"
                 type="text"
                 placeholder="Peso"
                 formControlName="Peso"
                 [ngClass]="{'is-invalid': displayMessage.Peso}" />
          <span class="invalid-feedback">
            {{displayMessage.Peso}}
          </span>
        </div>
    </div>
    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label"
             for="idCorOlhos">Cor dos Olhos</label>
      <div class="col-md-8">
        <input class="form-control"
               id="idCorOlhos"
               type="text"
               placeholder="Cor dos Olhos"
               formControlName="corOlhos"
               [ngClass]="{'is-invalid': displayMessage.corOlhos}" />
        <span class="invalid-feedback">
          {{displayMessage.corOlhos}}
        </span>
      </div>
  </div>
  <div class="form-group row mb-2">
    <label class="col-md-2 col-form-label"
           for="idPlaneta">Planeta</label>
    <div class="col-md-8">
      <input class="form-control"
             id="idPlaneta"
             type="text"
             placeholder="Planeta"
             formControlName="Planeta"
             [ngClass]="{'is-invalid': displayMessage.Planeta}" />
      <span class="invalid-feedback">
        {{displayMessage.Planeta}}
      </span>
    </div>
</div>
            
        <div class="form-group row mb-2">
            <div class="offset-md-2 col-md-6">
              <button class="btn btn-primary mr-4"
                      style="width:100px;"
                      type="submit"
                      [title]="formEstudantes.valid ? 'Salvar seus dados' : 'Desabilitado até que os dados estejam válidos'"
                      [disabled]="!formEstudantes.valid">
                Salvar
              </button>
              <button class="btn btn-outline-secondary mr-4"
                      style="width:100px;"
                      type="button"
                      title="Cancelar suas edições"
                      [routerLink]="['/estudante']">
                Cancelar
              </button>
              <button class="btn btn-outline-warning mr-4"
                      style="width:100px"
                      type="button"
                      title="Deletar este Estudante"
                      (click)="deletarEstudante()">
                Deletar
              </button>
            </div>
        </div>
        </form>
    </div>

    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
    </div>
</div>